body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2em;
  min-height: 100vh;

  /* Combined gradient + image */
  background: linear-gradient(
      135deg,
      rgba(180, 203, 250, 0.6),
      rgba(201, 220, 248, 0.6)
    ),
    url('background.png') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  font-size: 1.5rem;
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: text-shadow 0.3s ease, color 0.3s ease;
}

#piano {
  position: relative;
  display: flex;
  margin-top: 20px;
}

.key.white {
  width: 65px;
  height: 220px;
  background: #ffffff;
  border: 0.5px solid #d0d0d0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: flex-end;
  padding-bottom: 10px;
  font-size: 0.9rem;
  color: #333;
}

.key.white:active {
  background: #eaeaea;
}

.key.black {
  width: 32px;
  height: 130px;
  background: black;
  position: absolute;
  top: 0;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.key.black:active {
  background: #383838;
}

.key.black[data-note="C#"] {
  left: 50px;
}
.key.black[data-note="D#"] {
  left: 118px;
}
.key.black[data-note="F#"] {
  left: 250px;
}
.key.black[data-note="G#"] {
  left: 315px;
}
.key.black[data-note="A#"] {
  left: 380px;
}

#connect {
  padding: 14px 26px;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  background: #5b65f7;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s ease;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2);
}

#connect:active {
  background: #a7acf6;
}

#drum {
  padding: 14px 26px;
  border-radius: 12px;
  border: none;
  font-size: 1rem;
  background: #5b65f7;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s ease;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2);
}
#drum:active {
  background: #a7acf6;
}

/* music score */
#score-container {
  text-align: center;
  margin-top: 40px;
}

.staff-line {
  width: 100%;
  height: 2px;
  background: black;
  margin: 10px 0;
}

.note-head {
  position: absolute;
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.2s ease;
}


#treble-clef {
  position: absolute;
  left: 0;
  top: -15px;
  height: 90px;
  z-index: 2;
}

#score {
  position: relative;
  width: 800px; 
  height: 100px;
  margin: 0 auto;
}

#notes-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  gap: 40px;
  transition: transform 0.3s ease;
  z-index: 1;
}

#notes-container {
  position: absolute;
  left: 50px;
  top: 0;
  height: 100%;
  width: 750px;
  overflow: hidden;
}
