body {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;                /* side-by-side layout */
    flex-direction: row;          /* horizontal row */
    align-items: center;
    align-content: center;
    min-height: 100vh;  
    

  /* Combined gradient + image */
  background: 
  linear-gradient(
      135deg,
      rgba(180, 203, 250, 0.6),
      rgba(239, 244, 250, 0.6)
    ),
    url('background.png') no-repeat center center fixed;
  background-size: cover;
  background-position: center;

}

#left-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
    
}

#middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin: 0;
    padding-top: 20px; 
    position: relative;
    justify-content: flex-start;
}

#right-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
}


#modes-container {
    width: 300px;
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;  
    

    backdrop-filter: blur(5px);     
    border: 1px solid rgba(255, 255, 255, 0.35); 
    border-radius: 16px;                  
    box-shadow: 0 8px 20px rgba(96, 91, 245, 0.8); 
}

#record-container {
    width: 300px;
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;  
 
    backdrop-filter: blur(5px);     
    border: 1px solid rgba(255, 255, 255, 0.35); 
    border-radius: 16px;                  
    box-shadow: 0 8px 20px rgba(96, 91, 245, 0.8); 
  
}

h1 {
    font-size: 3rem;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: text-shadow 0.3s ease, color 0.3s ease;
    margin-bottom: 30px;          
}

h2 {
    margin: 0;
}

#piano {
  position: relative;
  display: flex;
  margin-top: 20px;
}

#piano-container {
    align-items: center;   
    margin: 0;

}

.key.white {
  width: 65px;
  height: 220px;
  background: #ffffff;
  border: 0.5px solid #d0d0d0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 8px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: flex-end;
  padding-bottom: 10px;
  font-size: 0.9rem;
  color: #333;
}

.key.white:active {
  background: #eaeaea;
}

.key.highlighted {
    background-color: yellow;          /* or any highlight */
    box-shadow: 0 0 10px rgba(255,255,0,0.8);
    transition: 0.2s;
}

.key.black {
  width: 32px;
  height: 130px;
  background: black;
  position: absolute;
  top: 0;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.key.black:active {
  background: #383838;
}

.key.black[data-note="C#"] {
  left: 50px;
}
.key.black[data-note="D#"] {
  left: 118px;
}
.key.black[data-note="F#"] {
  left: 250px;
}
.key.black[data-note="G#"] {
  left: 315px;
}
.key.black[data-note="A#"] {
  left: 380px;
}

#connect {
    padding: 14px 26px;
    border-radius: 16px;
    border: none;
    font-size: 1rem;
    background: #5b65f7;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: 0.25s ease;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

#connect:active {
  background: #a7acf6;
}

#drum {
  padding: 14px 26px;
  border-radius: 16px;
  width: 180px;
  border: none;
  font-size: 1rem;
  background: #5b65f7;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s ease;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2);
}
#drum:active {
  background: #a7acf6;
}


#record {
  padding: 14px 26px;
  width: 190px;
  border-radius: 16px;
  border: none;
  font-size: 1rem;
  background: #5b65f7;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s ease;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2);
}

#save {
  padding: 10px;
  width: 110px;
  border-radius: 16px;
  border: none;
  font-size: 1rem;
  background: #5b65f7;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s ease;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2);
}

#discard {
  padding: 10px;
  width: 110px;
  border-radius: 16px;
  border: none;
  font-size: 1rem;
  background: #5b65f7;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s ease;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2);
}

#record:active {
  background: #a7acf6;
}


/* music score */
#score-container {
    text-align: center;
    margin-top: 40px;
    
}


.staff-line {
  width: 100%;
  height: 2px;
  background: black;
  margin: 10px 0;
}

.note-head {

    background-image: url('piano_note.png');
    position: absolute;
    width: 30px;
    height: 30px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    transition: opacity 0.2s ease;

}


#treble-clef {
  position: absolute;
  left: 0;
  top: -15px;
  height: 90px;
  z-index: 2;
}


#log {
    width: 70%;               
    height: 100px;     
    overflow-y: auto;         
    backdrop-filter: blur(5px);     
    border: 1px solid rgba(255, 255, 255, 0.35); 
    border-radius: 16px;                  
    box-shadow: 0 8px 20px rgba(96, 91, 245, 0.8); 
    padding: 10px;
    text-align: left;
    font-family: monospace;
    font-size: 0.9rem;
    flex-shrink: 0;  
    text-align: center;
    
  }

#score {
  position: relative;
  width: 800px; 
  height: 100px;
  margin: 0 auto;
}

#notes-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  gap: 40px;
  transition: transform 0.3s ease;
  z-index: 1;
}

#notes-container {
  position: absolute;
  left: 50px;
  top: 0;
  height: 100%;
  width: 750px;
  overflow: hidden

}

#post-recording {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button-row {
  display: flex;
  gap: 10px;
}

.hidden {
  display: none !important;
}


#post-recording button:not(:last-child) {
  margin-right: 10px;
}

#replay {
  padding: 10px;
  width: 110px;
  border-radius: 16px;
  border: none;
  font-size: 1rem;
  background: #5b65f7;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s ease;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2);
}

